@import '../../../../style/constants.scss';

.resume {
  margin: $padding;

  a {
    color: $textColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: $padding;
  }

  h4 {
    padding: calc(#{$paddingHalf} * 0.6);
    background-color: rgba(#283b47, 0.8);
    color: $tagTextColor;
    box-shadow: $shadow;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .links {
    margin-top: $padding;
    margin-bottom: $padding;

    p {
      margin-top: $paddingHalf;
      margin-bottom: $paddingHalf;
    }
  }
}
