@import '../../../../style/constants.scss';
@import '../../../../style/themify.scss';

.resume {
  margin: $padding;
  a {
    @include themify($themes) {
      color: themed('textColor');
    }
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: $padding;
  }

  h4 {
    padding: calc(#{$paddingHalf} * 0.6);
    font-weight: bold;
    display: flex;
    align-items: center;

    @include themify($themes) {
      color: themed('tagTextColor');
      background-color: themed('headerBackgroundColor');
      box-shadow: themed('boxShadow');
    }
  }

  .links {
    margin-top: $padding;
    margin-bottom: $padding;

    p {
      margin-top: $paddingHalf;
      margin-bottom: $paddingHalf;
    }
  }
}
