@import '../../../../style/constants.scss';

.resume {
  margin: $padding;

  img {
    padding-right: $paddingHalf;
    transform: translateY(4px);
  }

  a {
    color: $textColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: $padding;
  }

  .links {
    margin-top: $padding;
    margin-bottom: $padding;

    p {
      margin-top: $paddingHalf;
      margin-bottom: $paddingHalf;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $textColor;
    margin-top: $paddingHalf;
    margin-bottom: calc(#{$paddingHalf} / 2);
  }

  h4 {
    padding: 6px;
    background-color: rgba(#283b47, 0.8);
    color: $tagTextColor;
    box-shadow: $shadow;
    padding-bottom: $paddingHalf;
    font-weight: bold;
  }
}
