@import '../../../style/constants.scss';
@import '../../../style/themify.scss';

$menuPadding: 10px;
$menuPaddingLeft: 14px;

.menu {
  padding-left: $padding;

  @include themify($themes) {
    background-color: themed('menuBackgroundColor');
    box-shadow: themed('boxShadow');
  }

  li {
    cursor: pointer;
    display: inline-block;
    padding: $menuPadding $menuPaddingLeft calc(#{$menuPadding} * 0.4)
      $menuPaddingLeft;

    &:hover {
      @include themify($themes) {
        background-color: themed('menuHoverColor');
      }
    }
  }

  .active {
    @include themify($themes) {
      background-color: themed('menuHoverColor');
    }
  }
}

.last-item {
  float: right;
  margin-right: $padding;
}
