@import '../../../style/constants.scss';

$menuPadding: 10px;
$menuPaddingLeft: 14px;
$hoverColor: #505050;

.menu {
  background-color: #3c3c3c;
  padding-left: $padding;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  display: inline-block;
  padding: $menuPadding $menuPaddingLeft $menuPadding $menuPaddingLeft;

  &:hover {
    background-color: $hoverColor;
  }
}

.menu-active {
  background-color: $hoverColor;
}
