@import '../../../../style/constants.scss';
@import '../../../../style/themify.scss';

$hoverTagMargin: calc(#{$paddingHalf} / 3);

.card-hover {
  position: absolute;
  pointer-events: none;
  width: 305px;
  height: 199px;
  background-color: rgba(black, 0.6);
  text-align: center;
  z-index: 800;

  .disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }

  .tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: translateY(9vh);
  }

  .tag {
    padding: calc(#{$paddingHalf} * 0.6);
    margin: $hoverTagMargin;
    font-weight: bold;
    font-size: 0.9rem;

    @include themify($themes) {
      background-color: themed('tagHoverBackgroundColor');
      color: themed('tagTextColor');
      box-shadow: themed('boxShadow');
    }
  }
}
