@import '../../../style/constants.scss';
@import '../../../style/themify.scss';

.section {
  font-size: 0.9rem;

  h4 {
    margin-bottom: $paddingHalf;
  }

  .header {
    padding: $paddingHalf;
    font-weight: bold;

    @include themify($themes) {
      color: themed('tagTextColor');
      background-color: themed('headerBackgroundColor');
      box-shadow: themed('boxShadow');
    }
  }

  .paragraphs {
    margin-bottom: $padding;
    p {
      margin-bottom: $paddingHalf;
    }
  }

  .links {
    margin-bottom: $padding;
    .link {
      display: table;
      margin-bottom: $paddingHalf;
    }
    a {
      @include themify($themes) {
        color: themed('textColor');
      }
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $padding;

    .item {
      padding: $paddingHalf;
      margin-right: $paddingHalf;
      margin-bottom: $paddingHalf;

      @include themify($themes) {
        background-color: themed('tagHoverBackgroundColor');
        color: themed('tagTextColor');
        box-shadow: themed('boxShadow');
      }
    }
  }
}
