$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$padding: 20px;
$paddingHalf: calc(#{$padding} / 2);
$tagColor: #3d5a6c;
$tagHoverColor: #384a38;
$tagTextColor: #dad7d1;
$thumbnailWidth: 305px;
$thumbnailHeight: 199px;
$textShadow: 0 2px 2px #1a1a1a;
$textColor: #b5b5b5;
