$padding: 20px;
$paddingHalf: calc(#{$padding} / 2);
$paddingQuarter: calc(#{$padding} / 4);
$thumbnailWidth: 305px;
$thumbnailHeight: 199px;
$footerHeight: calc(#{$padding} * 2.8);

$smallDeviceMax: 649px;
$mediumDeviceMax: 999px;
$mediumDeviceMin: 650px;
