@import './constants.scss';
@import './themify.scss';
@import './themes.scss';

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}

p {
  line-height: 1.5;
}

.app {
  @extend .theme-transition;
  width: 1000px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  @include themify($themes) {
    background-color: themed('appBackgroundColor');
    color: themed('textColor');
    box-shadow: themed('boxShadow');
  }
}

.theme-dark {
  @extend .theme-transition;
  background-color: $htmlBackgroundColorDark;
}

.theme-light {
  @extend .theme-transition;
  background-color: $htmlBackgroundColorLight;
}

.theme-transition {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.icon {
  @include themify($themes) {
    color: themed('iconColor');
  }
}
