@import './constants.scss';
@import './themify.scss';
@import './themes.scss';

html {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100%;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}

p {
  line-height: 1.5;
}

.app {
  @extend .theme-transition;

  position: relative;
  padding-bottom: calc(#{$paddingHalf} / 2);

  @include themify($themes) {
    color: themed('textColor');
  }
}

.center-overlay {
  @extend .theme-transition;

  min-height: 100%;
  position: relative;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @include themify($themes) {
    background-color: themed('appBackgroundColor');
    box-shadow: themed('boxShadow');
  }
}

.theme-dark {
  @extend .theme-overlay;

  background-color: $htmlBackgroundColorDark;
}

.theme-light {
  @extend .theme-overlay;

  background-color: $htmlBackgroundColorLight;
}

.theme-overlay {
  @extend .theme-transition;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.theme-transition {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.icon {
  @include themify($themes) {
    color: themed('iconColor');
  }
}

.centered {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}
