@import '../../../../style/constants.scss';

.gallery {
  padding: $padding;
  padding-bottom: 0;

  .cards {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: $padding;
  }
}
