@import '../../../../style/constants.scss';

.gallery {
  padding: $padding;
  padding-bottom: 0;
  margin-bottom: $footerHeight;

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: $padding;

    @media (min-width: $mediumDeviceMin) and (max-width: $mediumDeviceMax) {
      justify-content: space-evenly;
    }

    @media (max-width: $smallDeviceMax) {
      justify-content: center;
    }
  }
}
