@import '../../../../style/constants.scss';

.gallery {
  padding: $padding;
}

.cards {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: $paddingHalf;
}
