@import '../../../../style/constants.scss';
@import '../../../../style/themify.scss';

.tag-selector {
  margin-top: $padding;

  .tag {
    display: inline-block;
    padding: $paddingHalf;
    margin-right: $paddingHalf;
    margin-bottom: $paddingHalf;
    font-weight: bold;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    @include themify($themes) {
      color: themed('tagTextColor');
      background-color: themed('tagBackgroundColor');
      text-shadow: themed('textShadow');
      box-shadow: themed('boxShadow');
      border: 2px solid themed('tagBackgroundColor');
    }

    &:hover {
      cursor: pointer;
      @include themify($themes) {
        border: 2px solid themed('tagHoverBorderColor');
      }
    }
  }

  .selected {
    font-weight: bold;

    @include themify($themes) {
      background-color: themed('tagHoverBackgroundColor');
      border: 2px solid themed('tagHoverBackgroundColor');
    }
  }
}
