@import '../../../../style/constants.scss';
@import '../../../../style/themify.scss';

.tag-selector {
  margin-top: $padding;

  .tag {
    display: inline-block;
    padding: $paddingHalf;
    margin-right: $paddingHalf;
    margin-bottom: $paddingHalf;
    font-weight: bold;

    @include themify($themes) {
      color: themed('tagTextColor');
      background-color: themed('tagBackgroundColor');
      text-shadow: themed('textShadow');
      box-shadow: themed('boxShadow');
    }

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    font-weight: bold;

    @include themify($themes) {
      background-color: themed('tagHoverBackgroundColor');
    }
  }
}
