@import '../../../style/global.scss';
@import '../../../style/themify.scss';
@import '../../../style/global.scss';

.footer {
  @extend .theme-transition;

  position: absolute;
  width: 100vw;
  bottom: 0;
  left: calc(-50vw + 50%);
  height: calc(#{$padding} * 1.5);
  padding-top: calc(#{$paddingHalf} * 1.5);

  @media (max-width: $mediumDeviceMax) {
    position: relative;
    text-align: center;
    width: 100%;
    left: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include themify($themes) {
      color: themed('textColor');
    }
  }

  .footer-icon {
    transform: translateY(calc(#{$paddingHalf} * 0.6));
    margin-left: $paddingHalf;
  }

  .github-icon {
    font-size: $padding;
    transform: translateY(4px);
  }

  .text {
    transform: translateY(calc(#{$paddingHalf} * -1));
  }

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('menuBackgroundColor');
  }
}
