@import '../../../style/global.scss';
@import '../../../style/themify.scss';

.footer {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  bottom: 0;
  left: calc(-50vw + 50%);
  height: calc(#{$padding} * 1.5);
  padding-top: calc(#{$paddingHalf} * 1.5);

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('menuBackgroundColor');
  }
}
