@import '../../../../style/constants.scss';

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: $padding;
  width: $thumbnailWidth;
  height: $thumbnailHeight;

  .title {
    display: flex;
    justify-content: center;
    text-align: center;

    .text {
      position: absolute;
      width: calc(#{$thumbnailWidth} - #{$padding});
      padding: calc(#{$paddingHalf} * 0.6);
      background-color: rgba(#283b47, 0.8);
      margin-top: calc(#{$paddingHalf} / 2);
      color: $tagTextColor;
      box-shadow: $shadow;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
