@import '../../../../style/constants.scss';
@import '../../../../style/themify.scss';

.card {
  @include themify($themes) {
    box-shadow: themed('boxShadow');
  }

  margin-bottom: $padding;
  width: $thumbnailWidth;
  height: $thumbnailHeight;

  .disabled {
    cursor: not-allowed;
    pointer-events: auto;
  }

  .image {
    width: $thumbnailWidth;
    height: auto;
  }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    pointer-events: none;

    .text {
      position: absolute;
      width: calc(#{$thumbnailWidth} - #{$padding});
      padding: calc(#{$paddingHalf} * 0.6);
      margin-top: calc(#{$paddingHalf} / 2);
      font-size: 1rem;

      @include themify($themes) {
        background-color: themed('cardTitleBackgroundColor');
        color: themed('tagTextColor');
        box-shadow: themed('boxShadow');
      }
    }
  }
}
